.slide_container {
    min-height: 280px;
    width: 100%;
}

.each_slide {
    min-width: inherit;
    margin: 0 20px;
    transition: 200ms all ease;
}

.each_slide > div {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    min-height: 550px;
    cursor: pointer;
}

.each_slide:hover {
    transform: scale(0.8);
}

.each_slide > div > h2 {
    font-family: 'Open sans', sans-serif;
    color: white;
    background: #000;
}