.top_rated_card_container {
    width: 100%;
    min-height: 130%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.top_rated_movie_card {
    margin: 30px;
    cursor: pointer;
    transition: 250ms all ease;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: lighter !important;
    width: 340px;
}

.top_rated_movie_card > img {
    height: 80%;
    width: 100%;
}

.top_rated_movie_card:hover {
    transform: scale(1.1);
}